.chores {
    color:darkslategray;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.chores h3 {
    text-decoration: underline;
}

.chores li {
    font-style: italic;
}